In [3]:
pip install missingno

Requirement already satisfied: missingno in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (0.5.2)
Requirement already satisfied: numpy in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.26.4)
Requirement already satisfied: matplotlib in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from missingno) (3.8.3)
Requirement already satisfied: scipy in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from missingno) (1.12.0)
Requirement already satisfied: seaborn in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from seaborn->missingno) (2.2.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from pandas>=1.2->seaborn->missingno) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\tharu\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import os
from glob import glob
import numpy as npqs
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns

In [5]:
df=pd.read_csv("2016/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv")

C:\Users\tharu\AppData\Local\Temp\ipykernel_20740\1158585542.py:1: DtypeWarning: Columns (77) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("2016/2016/On_Time_On_Time_Performance_2016_1/On_Time_On_Time_Performance_2016_1.csv")

In [6]:
df

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445822,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445823,2016,1,1,3,7,2016-01-03,F9,20436,F9,N934FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445824,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445825,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
445826,2016,1,1,3,7,2016-01-03,F9,20436,F9,N935FR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(df.columns.to_list())

['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate', 'UniqueCarrier', 'AirlineID', 'Carrier', 'TailNum', 'FlightNum', 'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName', 'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCityName', 'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes', 'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay', 'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk', 'Cancelled', 'CancellationCode', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Flights', 'Distance', 'DistanceGroup', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay', 'FirstDepTime', 'TotalAddGTime', 'LongestAddGTime', 'DivAirportLandings', 'DivReachedDest', 'DivActualElapsedTime', 'DivArrDelay', 'DivDistance', 'Div1Airport', 'Div1AirportID', 'Div1AirportSeqID', 'Div1WheelsOn', 'Div1TotalGTime', 'Div1LongestGTime', 'Div1WheelsOff', 'Div1TailNum', 'Div2Airport', 'Div2AirportID', 'Div2AirportSeqID', 'Div2WheelsOn', 'Div2TotalGTime', 'Div2LongestGTime', 'Div2WheelsOff', 'Div2TailNum', 'Div3Airport', 'Div3AirportID', 'Div3AirportSeqID', 'Div3WheelsOn', 'Div3TotalGTime', 'Div3LongestGTime', 'Div3WheelsOff', 'Div3TailNum', 'Div4Airport', 'Div4AirportID', 'Div4AirportSeqID', 'Div4WheelsOn', 'Div4TotalGTime', 'Div4LongestGTime', 'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum', 'Unnamed: 109']

In [8]:
for i in df.columns:
    if df[i].isin(["ATL"]).any():
        print(df[i])

0         DFW
1         DFW
2         DFW
3         DFW
4         DFW
         ...
445822    DEN
445823    DEN
445824    DEN
445825    FSD
445826    CID
Name: Origin, Length: 445827, dtype: object
0         DTW
1         DTW
2         DTW
3         DTW
4         DTW
         ...
445822    SLC
445823    DCA
445824    FSD
445825    DEN
445826    DEN
Name: Dest, Length: 445827, dtype: object
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
         ...
445822    NaN
445823    NaN
445824    NaN
445825    NaN
445826    NaN
Name: Div1Airport, Length: 445827, dtype: object

In [9]:
import os
PATH = "Flight Data"
EXT = "*.csv"
all_csv_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path,       EXT))]
print(all_csv_files)

['Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_1\\On_Time_On_Time_Performance_2016_1.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_10\\On_Time_On_Time_Performance_2016_10.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_11\\On_Time_On_Time_Performance_2016_11.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_12\\On_Time_On_Time_Performance_2016_12.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_2\\On_Time_On_Time_Performance_2016_2.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_3\\On_Time_On_Time_Performance_2016_3.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_4\\On_Time_On_Time_Performance_2016_4.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_5\\On_Time_On_Time_Performance_2016_5.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_6\\On_Time_On_Time_Performance_2016_6.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_7\\On_Time_On_Time_Performance_2016_7.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_8\\On_Time_On_Time_Performance_2016_8.csv', 'Flight Data\\2016\\2016\\On_Time_On_Time_Performance_2016_9\\On_Time_On_Time_Performance_2016_9.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_1\\On_Time_On_Time_Performance_2017_1.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_10\\On_Time_On_Time_Performance_2017_10.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_11\\On_Time_On_Time_Performance_2017_11.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_12\\On_Time_On_Time_Performance_2017_12.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_2\\On_Time_On_Time_Performance_2017_2.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_3\\On_Time_On_Time_Performance_2017_3.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_4\\On_Time_On_Time_Performance_2017_4.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_5\\On_Time_On_Time_Performance_2017_5.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_6\\On_Time_On_Time_Performance_2017_6.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_7\\On_Time_On_Time_Performance_2017_7.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_8\\On_Time_On_Time_Performance_2017_8.csv', 'Flight Data\\2017\\On_Time_On_Time_Performance_2017_9\\On_Time_On_Time_Performance_2017_9.csv']

In [10]:
frames = []
#print(frames)
for i in all_csv_files:
    df=pd.read_csv(i, low_memory=False)
    frames.append(df)
print(frames)

[        Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        1      1           6          3  2016-01-06            AA
1       2016        1      1           7          4  2016-01-07            AA
2       2016        1      1           8          5  2016-01-08            AA
3       2016        1      1           9          6  2016-01-09            AA
4       2016        1      1          10          7  2016-01-10            AA
...      ...      ...    ...         ...        ...         ...           ...
445822  2016        1      1           3          7  2016-01-03            F9
445823  2016        1      1           3          7  2016-01-03            F9
445824  2016        1      1           3          7  2016-01-03            F9
445825  2016        1      1           3          7  2016-01-03            F9
445826  2016        1      1           3          7  2016-01-03            F9

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           19805      AA  N4YBAA  ...          NaN          NaN
1           19805      AA  N434AA  ...          NaN          NaN
2           19805      AA  N541AA  ...          NaN          NaN
3           19805      AA  N489AA  ...          NaN          NaN
4           19805      AA  N439AA  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
445822      20436      F9  N934FR  ...          NaN          NaN
445823      20436      F9  N934FR  ...          NaN          NaN
445824      20436      F9  N935FR  ...          NaN          NaN
445825      20436      F9  N935FR  ...          NaN          NaN
445826      20436      F9  N935FR  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
445822            NaN               NaN          NaN            NaN
445823            NaN               NaN          NaN            NaN
445824            NaN               NaN          NaN            NaN
445825            NaN               NaN          NaN            NaN
445826            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
445822              NaN            NaN         NaN           NaN
445823              NaN            NaN         NaN           NaN
445824              NaN            NaN         NaN           NaN
445825              NaN            NaN         NaN           NaN
445826              NaN            NaN         NaN           NaN

[445827 rows x 110 columns],         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        4     10           3          1  2016-10-03            AA
1       2016        4     10           4          2  2016-10-04            AA
2       2016        4     10           1          6  2016-10-01            AA
3       2016        4     10           2          7  2016-10-02            AA
4       2016        4     10           3          1  2016-10-03            AA
...      ...      ...    ...         ...        ...         ...           ...
472621  2016        4     10          25          2  2016-10-25            VX
472622  2016        4     10          25          2  2016-10-25            VX
472623  2016        4     10          25          2  2016-10-25            VX
472624  2016        4     10          25          2  2016-10-25            VX
472625  2016        4     10          25          2  2016-10-25            VX

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           19805      AA  N786AA  ...          NaN          NaN
1           19805      AA  N794AA  ...          NaN          NaN
2           19805      AA  N783AA  ...          NaN          NaN
3           19805      AA  N798AA  ...          NaN          NaN
4           19805      AA  N786AA  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
472621      21171      VX  N847VA  ...          NaN          NaN
472622      21171      VX  N625VA  ...          NaN          NaN
472623      21171      VX  N625VA  ...          NaN          NaN
472624      21171      VX  N847VA  ...          NaN          NaN
472625      21171      VX  N636VA  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
472621            NaN               NaN          NaN            NaN
472622            NaN               NaN          NaN            NaN
472623            NaN               NaN          NaN            NaN
472624            NaN               NaN          NaN            NaN
472625            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
472621              NaN            NaN         NaN           NaN
472622              NaN            NaN         NaN           NaN
472623              NaN            NaN         NaN           NaN
472624              NaN            NaN         NaN           NaN
472625              NaN            NaN         NaN           NaN

[472626 rows x 110 columns],         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        4     11           5          6  2016-11-05            DL
1       2016        4     11           5          6  2016-11-05            DL
2       2016        4     11           5          6  2016-11-05            DL
3       2016        4     11           5          6  2016-11-05            DL
4       2016        4     11           5          6  2016-11-05            DL
...      ...      ...    ...         ...        ...         ...           ...
450933  2016        4     11           5          6  2016-11-05            DL
450934  2016        4     11           5          6  2016-11-05            DL
450935  2016        4     11           5          6  2016-11-05            DL
450936  2016        4     11           5          6  2016-11-05            DL
450937  2016        4     11           5          6  2016-11-05            DL

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           19790      DL  N946DN  ...          NaN          NaN
1           19790      DL  N319NB  ...          NaN          NaN
2           19790      DL  N990AT  ...          NaN          NaN
3           19790      DL  N914DN  ...          NaN          NaN
4           19790      DL  N989AT  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
450933      19790      DL  N919DL  ...          NaN          NaN
450934      19790      DL  N952DL  ...          NaN          NaN
450935      19790      DL  N911DL  ...          NaN          NaN
450936      19790      DL  N942DN  ...          NaN          NaN
450937      19790      DL  N360NW  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
450933            NaN               NaN          NaN            NaN
450934            NaN               NaN          NaN            NaN
450935            NaN               NaN          NaN            NaN
450936            NaN               NaN          NaN            NaN
450937            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
450933              NaN            NaN         NaN           NaN
450934              NaN            NaN         NaN           NaN
450935              NaN            NaN         NaN           NaN
450936              NaN            NaN         NaN           NaN
450937              NaN            NaN         NaN           NaN

[450938 rows x 110 columns],         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        4     12          18          7  2016-12-18            AA
1       2016        4     12          19          1  2016-12-19            AA
2       2016        4     12          20          2  2016-12-20            AA
3       2016        4     12          21          3  2016-12-21            AA
4       2016        4     12          22          4  2016-12-22            AA
...      ...      ...    ...         ...        ...         ...           ...
460944  2016        4     12          30          5  2016-12-30            DL
460945  2016        4     12          30          5  2016-12-30            DL
460946  2016        4     12          30          5  2016-12-30            DL
460947  2016        4     12          30          5  2016-12-30            DL
460948  2016        4     12          30          5  2016-12-30            DL

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           19805      AA  N3JHAA  ...          NaN          NaN
1           19805      AA  N3DPAA  ...          NaN          NaN
2           19805      AA  N3KUAA  ...          NaN          NaN
3           19805      AA  N3FBAA  ...          NaN          NaN
4           19805      AA  N3BLAA  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
460944      19790      DL  N683DA  ...          NaN          NaN
460945      19790      DL  N977DL  ...          NaN          NaN
460946      19790      DL  N977DL  ...          NaN          NaN
460947      19790      DL  N953DN  ...          NaN          NaN
460948      19790      DL  N953DN  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
460944            NaN               NaN          NaN            NaN
460945            NaN               NaN          NaN            NaN
460946            NaN               NaN          NaN            NaN
460947            NaN               NaN          NaN            NaN
460948            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
460944              NaN            NaN         NaN           NaN
460945              NaN            NaN         NaN           NaN
460946              NaN            NaN         NaN           NaN
460947              NaN            NaN         NaN           NaN
460948              NaN            NaN         NaN           NaN

[460949 rows x 110 columns],         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        1      2          10          3  2016-02-10            F9
1       2016        1      2          10          3  2016-02-10            F9
2       2016        1      2          10          3  2016-02-10            F9
3       2016        1      2          10          3  2016-02-10            F9
4       2016        1      2          10          3  2016-02-10            F9
...      ...      ...    ...         ...        ...         ...           ...
423884  2016        1      2          10          3  2016-02-10            F9
423885  2016        1      2          10          3  2016-02-10            F9
423886  2016        1      2          10          3  2016-02-10            F9
423887  2016        1      2          10          3  2016-02-10            F9
423888  2016        1      2          10          3  2016-02-10            F9

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           20436      F9  N908FR  ...          NaN          NaN
1           20436      F9  N908FR  ...          NaN          NaN
2           20436      F9  N908FR  ...          NaN          NaN
3           20436      F9  N908FR  ...          NaN          NaN
4           20436      F9  N910FR  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
423884      20436      F9  N906FR  ...          NaN          NaN
423885      20436      F9  N906FR  ...          NaN          NaN
423886      20436      F9  N906FR  ...          NaN          NaN
423887      20436      F9  N908FR  ...          NaN          NaN
423888      20436      F9  N908FR  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
423884            NaN               NaN          NaN            NaN
423885            NaN               NaN          NaN            NaN
423886            NaN               NaN          NaN            NaN
423887            NaN               NaN          NaN            NaN
423888            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
423884              NaN            NaN         NaN           NaN
423885              NaN            NaN         NaN           NaN
423886              NaN            NaN         NaN           NaN
423887              NaN            NaN         NaN           NaN
423888              NaN            NaN         NaN           NaN

[423889 rows x 110 columns],         Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate UniqueCarrier  \
0       2016        1      3           1          2  2016-03-01            AA
1       2016        1      3           2          3  2016-03-02            AA
2       2016        1      3           3          4  2016-03-03            AA
3       2016        1      3           4          5  2016-03-04            AA
4       2016        1      3           5          6  2016-03-05            AA
...      ...      ...    ...         ...        ...         ...           ...
479117  2016        1      3          22          2  2016-03-22            VX
479118  2016        1      3          22          2  2016-03-22            VX
479119  2016        1      3          22          2  2016-03-22            VX
479120  2016        1      3          22          2  2016-03-22            VX
479121  2016        1      3          22          2  2016-03-22            VX

        AirlineID Carrier TailNum  ...  Div4TailNum  Div5Airport  \
0           19805      AA  N793AA  ...          NaN          NaN
1           19805      AA  N794AA  ...          NaN          NaN
2           19805      AA  N796AA  ...          NaN          NaN
3           19805      AA  N793AA  ...          NaN          NaN
4           19805      AA  N798AA  ...          NaN          NaN
...           ...     ...     ...  ...          ...          ...
479117      21171      VX  N521VA  ...          NaN          NaN
479118      21171      VX  N642VA  ...          NaN          NaN
479119      21171      VX  N840VA  ...          NaN          NaN
479120      21171      VX  N840VA  ...          NaN          NaN
479121      21171      VX  N630VA  ...          NaN          NaN

        Div5AirportID  Div5AirportSeqID Div5WheelsOn Div5TotalGTime  \
0                 NaN               NaN          NaN            NaN
1                 NaN               NaN          NaN            NaN
2                 NaN               NaN          NaN            NaN
3                 NaN               NaN          NaN            NaN
4                 NaN               NaN          NaN            NaN
...               ...               ...          ...            ...
479117            NaN               NaN          NaN            NaN
479118            NaN               NaN          NaN            NaN
479119            NaN               NaN          NaN            NaN
479120            NaN               NaN          NaN            NaN
479121            NaN               NaN          NaN            NaN

       Div5LongestGTime  Div5WheelsOff Div5TailNum  Unnamed: 109
0                   NaN            NaN         NaN           NaN
1                   NaN            NaN         NaN           NaN
2                   NaN            NaN         NaN           NaN
3                   NaN            NaN         NaN           NaN
4                   NaN            NaN         NaN           NaN
...                 ...            ...         ...           ...
479117              NaN            NaN         NaN           NaN
479118              NaN            NaN         NaN           NaN
479119              NaN            NaN         NaN           NaN

In [11]:
result=pd.concat(frames)

In [12]:
result

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,UniqueCarrier,AirlineID,Carrier,TailNum,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2016,1,1,6,3,2016-01-06,AA,19805,AA,N4YBAA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,1,1,7,4,2016-01-07,AA,19805,AA,N434AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,1,1,8,5,2016-01-08,AA,19805,AA,N541AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,1,1,9,6,2016-01-09,AA,19805,AA,N489AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,1,1,10,7,2016-01-10,AA,19805,AA,N439AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458722,2017,3,9,25,1,2017-09-25,B6,20409,B6,N216JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458723,2017,3,9,25,1,2017-09-25,B6,20409,B6,N651JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458724,2017,3,9,25,1,2017-09-25,B6,20409,B6,N265JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458725,2017,3,9,25,1,2017-09-25,B6,20409,B6,N298JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
458726,2017,3,9,25,1,2017-09-25,B6,20409,B6,N789JB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
columns = ['FlightDate', 'Quarter', 'Year', 'Month', 'Origin', 'Dest','DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 'DepDelayMinutes', 'OriginAirportID', 'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDel15', 'ArrDelayMinutes']

In [14]:
air_cod=['ATL','CLT','DEN','DFW','EWR','IAH','JFK','LAS','LAX','MCO','MIA','ORD','PHX','SEA','SFO']

In [15]:
df1=result[columns]

In [16]:
df1

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,2016-01-06,1,2016,1,DFW,DTW,6,1057.0,0.0,1100,0.0,11298,11433,1432.0,1438,0.0,0.0
1,2016-01-07,1,2016,1,DFW,DTW,7,1056.0,0.0,1100,0.0,11298,11433,1426.0,1438,0.0,0.0
2,2016-01-08,1,2016,1,DFW,DTW,8,1055.0,0.0,1100,0.0,11298,11433,1445.0,1438,0.0,7.0
3,2016-01-09,1,2016,1,DFW,DTW,9,1102.0,0.0,1100,2.0,11298,11433,1433.0,1438,0.0,0.0
4,2016-01-10,1,2016,1,DFW,DTW,10,1240.0,1.0,1100,100.0,11298,11433,1631.0,1438,1.0,113.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458722,2017-09-25,3,2017,9,ORD,BOS,25,1332.0,1.0,1018,194.0,13930,10721,1647.0,1335,1.0,192.0
458723,2017-09-25,3,2017,9,JFK,LGB,25,1822.0,0.0,1828,0.0,12478,12954,2135.0,2135,0.0,0.0
458724,2017-09-25,3,2017,9,JAX,FLL,25,623.0,0.0,630,0.0,12451,11697,732.0,743,0.0,0.0
458725,2017-09-25,3,2017,9,FLL,JAX,25,654.0,0.0,700,0.0,11697,12451,802.0,812,0.0,0.0
458726,2017-09-25,3,2017,9,PBI,BOS,25,952.0,0.0,1001,0.0,14027,10721,1247.0,1301,0.0,0.0

In [17]:
df1['Origin'].unique()

array(['DFW', 'DTW', 'SEA', 'JFK', 'SJC', 'ORD', 'PHX', 'STL', 'LAX',
       'MCO', 'DEN', 'MIA', 'KOA', 'IAH', 'AUS', 'LAS', 'SLC', 'TUS',
       'STT', 'BOS', 'FLL', 'SFO', 'OGG', 'TPA', 'SNA', 'OKC', 'HNL',
       'PHL', 'LGA', 'RDU', 'DCA', 'RIC', 'ATL', 'LBB', 'CLT', 'ELP',
       'SAN', 'BNA', 'JAC', 'SMF', 'EWR', 'IAD', 'LIH', 'SJU', 'ABQ',
       'ORF', 'JAX', 'MSY', 'SAT', 'MCI', 'GUC', 'IND', 'PDX', 'BWI',
       'MSP', 'MKE', 'TUL', 'ONT', 'RSW', 'RNO', 'DSM', 'MFE', 'PSP',
       'OMA', 'EGE', 'PBI', 'SDF', 'PIT', 'FAT', 'DAY', 'STX', 'COS',
       'CMH', 'MTJ', 'HDN', 'BDL', 'MEM', 'CLE', 'HOU', 'BOI', 'OAK',
       'GEG', 'ANC', 'BUF', 'SYR', 'ALB', 'PVD', 'ROC', 'ILM', 'ICT',
       'PWM', 'GSO', 'CHS', 'MDT', 'BHM', 'ADQ', 'BET', 'BRW', 'SCC',
       'FAI', 'JNU', 'KTN', 'YAK', 'CDV', 'SIT', 'PSG', 'WRG', 'OME',
       'OTZ', 'BUR', 'BLI', 'ADK', 'SWF', 'LGB', 'PSE', 'BQN', 'HPN',
       'SAV', 'SRQ', 'BTV', 'ORH', 'DAB', 'CVG', 'BIS', 'AVL', 'GRR',
       'FNT', 'MYR', 'JAN', 'BIL', 'FAR', 'PNS', 'AGS', 'GSP', 'LEX',
       'DAL', 'ATW', 'GPT', 'MLB', 'BZN', 'CAK', 'CHO', 'MSN', 'EYW',
       'TRI', 'LFT', 'ROA', 'ECP', 'VPS', 'XNA', 'EVV', 'AVP', 'MDW',
       'HSV', 'FAY', 'LIT', 'TYS', 'TLH', 'MSO', 'CHA', 'TTN', 'UST',
       'MOB', 'PHF', 'CAE', 'FSD', 'ITO', 'LBE', 'ABE', 'BMI', 'CRW',
       'ACY', 'PPG', 'IAG', 'ACT', 'MLU', 'GRK', 'SHV', 'FSM', 'MAF',
       'SAF', 'JLN', 'LRD', 'BRO', 'TYR', 'GJT', 'YUM', 'DLH', 'GRB',
       'LAN', 'SBA', 'ASE', 'DRO', 'IDA', 'RAP', 'FCA', 'LNK', 'AMA',
       'BFL', 'MLI', 'LSE', 'SBN', 'PSC', 'MOT', 'FLG', 'ISN', 'GFK',
       'GTF', 'FWA', 'MRY', 'MBS', 'PIA', 'SUN', 'TWF', 'SGF', 'CPR',
       'BTR', 'PBG', 'CRP', 'CID', 'SBP', 'RKS', 'CMX', 'MMH', 'PLN',
       'EKO', 'GCC', 'AZO', 'MFR', 'SMX', 'EUG', 'RST', 'TVC', 'SPI',
       'SGU', 'HLN', 'RDM', 'ACV', 'EAU', 'DVL', 'JMS', 'MKG', 'HYS',
       'PAH', 'COD', 'ABR', 'ITH', 'APN', 'ESC', 'BJI', 'MQT', 'CIU',
       'BGM', 'RHI', 'LWS', 'IMT', 'BRD', 'INL', 'PIH', 'GUM', 'HIB',
       'BTM', 'CDC', 'OTH', 'RDD', 'HRL', 'ISP', 'MHT', 'LAR', 'GNV',
       'MEI', 'PIB', 'BPT', 'LAW', 'AEX', 'TXK', 'ROW', 'ERI', 'CLL',
       'HOB', 'LCH', 'SCE', 'CWA', 'OAJ', 'ELM', 'VLD', 'MGM', 'BGR',
       'GTR', 'CSG', 'BQK', 'DHN', 'EWN', 'ABY', 'HYA', 'ACK', 'MVY',
       'SJT', 'ABI', 'GRI', 'GCK', 'GGG', 'SPS', 'PGD', 'SPN', 'ENV',
       'BFF', 'WYS', 'GST', 'AKN', 'DLG', 'MHK', 'EFD', 'TKI', 'ALO',
       'STS', 'IFP', 'TOL', 'COU', 'CKB', 'PUB', 'CGI', 'UIN', 'SWO',
       'SUX'], dtype=object)

In [18]:
air_df = df1[df1["Origin"].isin(air_cod)]
air_df = df1[df1["Dest"].isin(air_cod)]

In [19]:
air_df

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
26,2016-01-01,1,2016,1,DTW,DFW,1,1539.0,1.0,1513,26.0,11433,11298,1756.0,1724,1.0,32.0
27,2016-01-02,1,2016,1,DTW,DFW,2,1509.0,0.0,1513,0.0,11433,11298,1651.0,1724,0.0,0.0
28,2016-01-03,1,2016,1,DTW,DFW,3,1515.0,0.0,1513,2.0,11433,11298,1703.0,1724,0.0,0.0
29,2016-01-04,1,2016,1,DTW,DFW,4,1509.0,0.0,1513,0.0,11433,11298,1641.0,1724,0.0,0.0
30,2016-01-05,1,2016,1,DTW,DFW,5,1519.0,0.0,1523,0.0,11433,11298,1708.0,1730,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
458713,2017-09-25,3,2017,9,BOS,DEN,25,1952.0,0.0,1945,7.0,10721,11292,2215.0,2219,0.0,0.0
458716,2017-09-25,3,2017,9,BOS,ATL,25,2130.0,1.0,2102,28.0,10721,10397,11.0,2352,1.0,19.0
458717,2017-09-25,3,2017,9,BUF,JFK,25,2103.0,0.0,2118,0.0,10792,12478,2213.0,2246,0.0,0.0
458719,2017-09-25,3,2017,9,LGB,SEA,25,1505.0,0.0,1500,5.0,12954,14747,1750.0,1740,0.0,10.0
458721,2017-09-25,3,2017,9,BOS,ORD,25,1734.0,0.0,1720,14.0,10721,13930,1924.0,1913,0.0,11.0

In [20]:
air_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5055592 entries, 26 to 458721
Data columns (total 17 columns):
 #   Column           Dtype
---  ------           -----
 0   FlightDate       object
 1   Quarter          int64
 2   Year             int64
 3   Month            int64
 4   Origin           object
 5   Dest             object
 6   DayofMonth       int64
 7   DepTime          float64
 8   DepDel15         float64
 9   CRSDepTime       int64
 10  DepDelayMinutes  float64
 11  OriginAirportID  int64
 12  DestAirportID    int64
 13  ArrTime          float64
 14  CRSArrTime       int64
 15  ArrDel15         float64
 16  ArrDelayMinutes  float64
dtypes: float64(6), int64(8), object(3)
memory usage: 694.3+ MB

In [21]:
air_df.isna().sum()

FlightDate             0
Quarter                0
Year                   0
Month                  0
Origin                 0
Dest                   0
DayofMonth             0
DepTime            64651
DepDel15           64668
CRSDepTime             0
DepDelayMinutes    64668
OriginAirportID        0
DestAirportID          0
ArrTime            67520
CRSArrTime             0
ArrDel15           78567
ArrDelayMinutes    78567
dtype: int64

In [22]:
air_df = air_df.dropna(how = "any", axis = 0)

In [23]:
air_df.shape

(4977025, 17)

In [24]:
air_df.reset_index(drop=True,inplace=True)

In [25]:
air_df

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,2016-01-01,1,2016,1,DTW,DFW,1,1539.0,1.0,1513,26.0,11433,11298,1756.0,1724,1.0,32.0
1,2016-01-02,1,2016,1,DTW,DFW,2,1509.0,0.0,1513,0.0,11433,11298,1651.0,1724,0.0,0.0
2,2016-01-03,1,2016,1,DTW,DFW,3,1515.0,0.0,1513,2.0,11433,11298,1703.0,1724,0.0,0.0
3,2016-01-04,1,2016,1,DTW,DFW,4,1509.0,0.0,1513,0.0,11433,11298,1641.0,1724,0.0,0.0
4,2016-01-05,1,2016,1,DTW,DFW,5,1519.0,0.0,1523,0.0,11433,11298,1708.0,1730,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977020,2017-09-25,3,2017,9,BOS,DEN,25,1952.0,0.0,1945,7.0,10721,11292,2215.0,2219,0.0,0.0
4977021,2017-09-25,3,2017,9,BOS,ATL,25,2130.0,1.0,2102,28.0,10721,10397,11.0,2352,1.0,19.0
4977022,2017-09-25,3,2017,9,BUF,JFK,25,2103.0,0.0,2118,0.0,10792,12478,2213.0,2246,0.0,0.0
4977023,2017-09-25,3,2017,9,LGB,SEA,25,1505.0,0.0,1500,5.0,12954,14747,1750.0,1740,0.0,10.0
4977024,2017-09-25,3,2017,9,BOS,ORD,25,1734.0,0.0,1720,14.0,10721,13930,1924.0,1913,0.0,11.0

In [26]:
dr=air_df.duplicated()

In [27]:
print(air_df[dr])

         FlightDate  Quarter  Year  Month Origin Dest  DayofMonth  DepTime  \
528358   2016-11-14        4  2016     11    LAX  SFO          14    602.0
1299039  2016-04-06        2  2016      4    JFK  LAX           6   1100.0
1327549  2016-04-19        2  2016      4    LGA  MCO          19    952.0
1587655  2016-05-09        2  2016      5    OKC  ATL           9    600.0
1588715  2016-05-10        2  2016      5    OKC  ATL          10    554.0
1595908  2016-05-16        2  2016      5    RDU  ATL          16   1053.0
1630884  2016-05-09        2  2016      5    LAS  DEN           9    609.0
2274764  2016-08-30        3  2016      8    MDW  ATL          30    555.0
4679667  2017-08-02        3  2017      8    HOU  ATL           2    607.0

         DepDel15  CRSDepTime  DepDelayMinutes  OriginAirportID  \
528358        0.0         605              0.0            12892
1299039       0.0        1100              0.0            12478
1327549       0.0         955              0.0            12953
1587655       0.0         600              0.0            13851
1588715       0.0         600              0.0            13851
1595908       0.0        1100              0.0            14492
1630884       0.0         615              0.0            12889
2274764       0.0         600              0.0            13232
4679667       0.0         610              0.0            12191

         DestAirportID  ArrTime  CRSArrTime  ArrDel15  ArrDelayMinutes
528358           14771    719.0         730       0.0              0.0
1299039          12892   1355.0        1411       0.0              0.0
1327549          13204   1245.0        1258       0.0              0.0
1587655          10397    856.0         905       0.0              0.0
1588715          10397    842.0         905       0.0              0.0
1595908          10397   1221.0        1220       0.0              1.0
1630884          11292    853.0         910       0.0              0.0
2274764          10397    837.0         845       0.0              0.0
4679667          10397    859.0         910       0.0              0.0

In [28]:
air_df = air_df.drop_duplicates()

In [29]:

air_df.shape

(4977016, 17)

In [30]:
air_df.head()

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,2016-01-01,1,2016,1,DTW,DFW,1,1539.0,1.0,1513,26.0,11433,11298,1756.0,1724,1.0,32.0
1,2016-01-02,1,2016,1,DTW,DFW,2,1509.0,0.0,1513,0.0,11433,11298,1651.0,1724,0.0,0.0
2,2016-01-03,1,2016,1,DTW,DFW,3,1515.0,0.0,1513,2.0,11433,11298,1703.0,1724,0.0,0.0
3,2016-01-04,1,2016,1,DTW,DFW,4,1509.0,0.0,1513,0.0,11433,11298,1641.0,1724,0.0,0.0
4,2016-01-05,1,2016,1,DTW,DFW,5,1519.0,0.0,1523,0.0,11433,11298,1708.0,1730,0.0,0.0

In [31]:
new = pd.read_json(r"ATL/ATL/2013-1.json")
new

                                                      data
weather  [{'mintempC': '8', 'maxtempF': '56', 'sunHour'...
request  [{'query': 'ATL, Hartsfield-Jackson Atlanta In...

In [32]:
dummy = new["data"]["weather"]

dummy_df = pd.DataFrame(dummy)
dummy_df

,mintempC,maxtempF,sunHour,mintempF,maxtempC,hourly,totalSnow_cm,date,astronomy,uvIndex
0,8,56,7.5,46,14,"[{'windspeedKmph': '4', 'FeelsLikeF': '46', 'w...",0.0,2013-01-01,"[{'moon_phase': 'Full Moon', 'moonrise': '10:5...",0
1,6,55,9.8,42,13,"[{'windspeedKmph': '9', 'FeelsLikeF': '45', 'w...",0.0,2013-01-02,"[{'moon_phase': 'Full Moon', 'moonrise': '11:5...",0
2,6,49,10.0,43,10,"[{'windspeedKmph': '11', 'FeelsLikeF': '41', '...",0.0,2013-01-03,"[{'moon_phase': 'Full Moon', 'moonrise': 'No m...",0
3,2,53,10.0,35,11,"[{'windspeedKmph': '8', 'FeelsLikeF': '37', 'w...",0.0,2013-01-04,"[{'moon_phase': 'Full Moon', 'moonrise': '12:5...",0
4,-2,52,10.0,29,11,"[{'windspeedKmph': '10', 'FeelsLikeF': '42', '...",0.0,2013-01-05,"[{'moon_phase': 'Waning Gibbous', 'moonrise': ...",0
5,4,53,8.8,40,12,"[{'windspeedKmph': '3', 'FeelsLikeF': '42', 'w...",0.0,2013-01-06,"[{'moon_phase': 'Waning Gibbous', 'moonrise': ...",0
6,3,60,10.0,38,16,"[{'windspeedKmph': '14', 'FeelsLikeF': '40', '...",0.0,2013-01-07,"[{'moon_phase': 'Waning Gibbous', 'moonrise': ...",0
7,6,50,7.5,42,10,"[{'windspeedKmph': '13', 'FeelsLikeF': '42', '...",0.0,2013-01-08,"[{'moon_phase': 'Waning Gibbous', 'moonrise': ...",0
8,10,70,8.0,49,21,"[{'windspeedKmph': '8', 'FeelsLikeF': '46', 'w...",0.0,2013-01-09,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0
9,15,63,7.5,59,17,"[{'windspeedKmph': '6', 'FeelsLikeF': '60', 'w...",0.0,2013-01-10,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0
10,14,66,7.5,57,19,"[{'windspeedKmph': '9', 'FeelsLikeF': '58', 'w...",0.0,2013-01-11,"[{'moon_phase': 'Last Quarter', 'moonrise': '0...",0
11,14,71,9.8,58,22,"[{'windspeedKmph': '5', 'FeelsLikeF': '66', 'w...",0.0,2013-01-12,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
12,20,74,8.0,68,24,"[{'windspeedKmph': '8', 'FeelsLikeF': '67', 'w...",0.0,2013-01-13,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
13,17,67,7.5,63,19,"[{'windspeedKmph': '9', 'FeelsLikeF': '67', 'w...",0.0,2013-01-14,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
14,14,72,7.5,57,22,"[{'windspeedKmph': '8', 'FeelsLikeF': '50', 'w...",0.0,2013-01-15,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
15,13,57,7.5,55,14,"[{'windspeedKmph': '9', 'FeelsLikeF': '65', 'w...",0.0,2013-01-16,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
16,6,50,7.5,43,10,"[{'windspeedKmph': '10', 'FeelsLikeF': '53', '...",1.4,2013-01-17,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
17,-1,53,10.0,31,12,"[{'windspeedKmph': '22', 'FeelsLikeF': '26', '...",0.0,2013-01-18,"[{'moon_phase': 'Waning Crescent', 'moonrise':...",0
18,-1,55,10.0,31,13,"[{'windspeedKmph': '4', 'FeelsLikeF': '51', 'w...",0.0,2013-01-19,"[{'moon_phase': 'New Moon', 'moonrise': '01:19...",0
19,2,59,10.0,36,15,"[{'windspeedKmph': '4', 'FeelsLikeF': '49', 'w...",0.0,2013-01-20,"[{'moon_phase': 'Waxing Crescent', 'moonrise':...",0
20,1,53,10.0,34,12,"[{'windspeedKmph': '5', 'FeelsLikeF': '56', 'w...",0.0,2013-01-21,"[{'moon_phase': 'Waxing Crescent', 'moonrise':...",0
21,-3,43,10.0,26,6,"[{'windspeedKmph': '15', 'FeelsLikeF': '31', '...",0.0,2013-01-22,"[{'moon_phase': 'Waxing Crescent', 'moonrise':...",0
22,-3,51,10.3,26,11,"[{'windspeedKmph': '9', 'FeelsLikeF': '32', 'w...",0.0,2013-01-23,"[{'moon_phase': 'Waxing Crescent', 'moonrise':...",0
23,4,46,10.6,39,8,"[{'windspeedKmph': '10', 'FeelsLikeF': '39', '...",0.0,2013-01-24,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0
24,-1,43,8.3,30,6,"[{'windspeedKmph': '9', 'FeelsLikeF': '36', 'w...",0.0,2013-01-25,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0
25,4,57,10.7,39,14,"[{'windspeedKmph': '9', 'FeelsLikeF': '49', 'w...",0.0,2013-01-26,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0
26,2,52,10.7,35,11,"[{'windspeedKmph': '4', 'FeelsLikeF': '47', 'w...",0.0,2013-01-27,"[{'moon_phase': 'First Quarter', 'moonrise': '...",0
27,4,58,8.3,40,14,"[{'windspeedKmph': '7', 'FeelsLikeF': '42', 'w...",0.0,2013-01-28,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0
28,8,65,8.3,47,18,"[{'windspeedKmph': '1', 'FeelsLikeF': '49', 'w...",0.0,2013-01-29,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0
29,15,65,8.3,59,18,"[{'windspeedKmph': '9', 'FeelsLikeF': '64', 'w...",0.0,2013-01-30,"[{'moon_phase': 'Waxing Gibbous', 'moonrise': ...",0
30,1,47,10.7,33,8,"[{'windspeedKmph': '30', 'FeelsLikeF': '42', '...",0.0,2013-01-31,"[{'moon_phase': 'Full Moon', 'moonrise': '11:5...",0

In [33]:
dummy_df.columns

Index(['mintempC', 'maxtempF', 'sunHour', 'mintempF', 'maxtempC', 'hourly',
       'totalSnow_cm', 'date', 'astronomy', 'uvIndex'],
      dtype='object')

In [34]:
dummy_df['hourly'][0]

[{'windspeedKmph': '4',
  'FeelsLikeF': '46',
  'winddir16Point': 'ENE',
  'FeelsLikeC': '8',
  'DewPointC': '-2',
  'windspeedMiles': '2',
  'DewPointF': '29',
  'HeatIndexF': '48',
  'cloudcover': '51',
  'HeatIndexC': '9',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'}],
  'WindGustMiles': '10',
  'pressure': '1022',
  'WindGustKmph': '16',
  'weatherDesc': [{'value': 'Cloudy'}],
  'visibility': '10',
  'weatherCode': '119',
  'tempC': '3',
  'tempF': '37',
  'WindChillF': '46',
  'WindChillC': '8',
  'winddirDegree': '65',
  'humidity': '75',
  'time': '0'},
 {'windspeedKmph': '6',
  'FeelsLikeF': '45',
  'winddir16Point': 'ESE',
  'FeelsLikeC': '7',
  'DewPointC': '1',
  'windspeedMiles': '4',
  'DewPointF': '33',
  'HeatIndexF': '47',
  'cloudcover': '46',
  'HeatIndexC': '9',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'}],
  'WindGustMiles': '11',
  'pressure': '1022',
  'WindGustKmph': '17',
  'weatherDesc': [{'value': 'Cloudy'}],
  'visibility': '9',
  'weatherCode': '119',
  'tempC': '5',
  'tempF': '40',
  'WindChillF': '45',
  'WindChillC': '7',
  'winddirDegree': '108',
  'humidity': '79',
  'time': '100'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '43',
  'winddir16Point': 'SSE',
  'FeelsLikeC': '6',
  'DewPointC': '3',
  'windspeedMiles': '5',
  'DewPointF': '38',
  'HeatIndexF': '46',
  'cloudcover': '41',
  'HeatIndexC': '8',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'}],
  'WindGustMiles': '12',
  'pressure': '1021',
  'WindGustKmph': '19',
  'weatherDesc': [{'value': 'Clear'}],
  'visibility': '8',
  'weatherCode': '113',
  'tempC': '6',
  'tempF': '43',
  'WindChillF': '43',
  'WindChillC': '6',
  'winddirDegree': '151',
  'humidity': '83',
  'time': '200'},
 {'windspeedKmph': '10',
  'FeelsLikeF': '42',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '6',
  'DewPointC': '6',
  'windspeedMiles': '6',
  'DewPointF': '42',
  'HeatIndexF': '46',
  'cloudcover': '36',
  'HeatIndexC': '8',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'}],
  'WindGustMiles': '13',
  'pressure': '1020',
  'WindGustKmph': '21',
  'weatherDesc': [{'value': 'Clear'}],
  'visibility': '7',
  'weatherCode': '113',
  'tempC': '8',
  'tempF': '46',
  'WindChillF': '42',
  'WindChillC': '6',
  'winddirDegree': '194',
  'humidity': '87',
  'time': '300'},
 {'windspeedKmph': '9',
  'FeelsLikeF': '42',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '6',
  'DewPointC': '6',
  'windspeedMiles': '6',
  'DewPointF': '43',
  'HeatIndexF': '45',
  'cloudcover': '48',
  'HeatIndexC': '7',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0008_clear_sky_night.png'}],
  'WindGustMiles': '12',
  'pressure': '1020',
  'WindGustKmph': '19',
  'weatherDesc': [{'value': 'Clear'}],
  'visibility': '5',
  'weatherCode': '113',
  'tempC': '7',
  'tempF': '45',
  'WindChillF': '42',
  'WindChillC': '6',
  'winddirDegree': '192',
  'humidity': '90',
  'time': '400'},
 {'windspeedKmph': '9',
  'FeelsLikeF': '42',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '6',
  'DewPointC': '6',
  'windspeedMiles': '5',
  'DewPointF': '43',
  'HeatIndexF': '45',
  'cloudcover': '60',
  'HeatIndexC': '7',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '11',
  'pressure': '1020',
  'WindGustKmph': '18',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '3',
  'weatherCode': '143',
  'tempC': '7',
  'tempF': '45',
  'WindChillF': '42',
  'WindChillC': '6',
  'winddirDegree': '191',
  'humidity': '94',
  'time': '500'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '42',
  'winddir16Point': 'S',
  'FeelsLikeC': '6',
  'DewPointC': '7',
  'windspeedMiles': '5',
  'DewPointF': '44',
  'HeatIndexF': '45',
  'cloudcover': '72',
  'HeatIndexC': '7',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '10',
  'pressure': '1019',
  'WindGustKmph': '16',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '1',
  'weatherCode': '143',
  'tempC': '7',
  'tempF': '45',
  'WindChillF': '42',
  'WindChillC': '6',
  'winddirDegree': '190',
  'humidity': '97',
  'time': '600'},
 {'windspeedKmph': '7',
  'FeelsLikeF': '43',
  'winddir16Point': 'S',
  'FeelsLikeC': '6',
  'DewPointC': '7',
  'windspeedMiles': '5',
  'DewPointF': '44',
  'HeatIndexF': '45',
  'cloudcover': '82',
  'HeatIndexC': '7',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '9',
  'pressure': '1019',
  'WindGustKmph': '15',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '1',
  'weatherCode': '143',
  'tempC': '8',
  'tempF': '46',
  'WindChillF': '43',
  'WindChillC': '6',
  'winddirDegree': '191',
  'humidity': '97',
  'time': '700'},
 {'windspeedKmph': '7',
  'FeelsLikeF': '44',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '7',
  'DewPointC': '7',
  'windspeedMiles': '4',
  'DewPointF': '45',
  'HeatIndexF': '46',
  'cloudcover': '91',
  'HeatIndexC': '8',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0007_fog.png'}],
  'WindGustMiles': '8',
  'pressure': '1019',
  'WindGustKmph': '13',
  'weatherDesc': [{'value': 'Fog'}],
  'visibility': '1',
  'weatherCode': '248',
  'tempC': '8',
  'tempF': '46',
  'WindChillF': '44',
  'WindChillC': '7',
  'winddirDegree': '192',
  'humidity': '97',
  'time': '800'},
 {'windspeedKmph': '6',
  'FeelsLikeF': '44',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '7',
  'DewPointC': '7',
  'windspeedMiles': '4',
  'DewPointF': '45',
  'HeatIndexF': '46',
  'cloudcover': '100',
  'HeatIndexC': '8',
  'precipMM': '0.0',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0007_fog.png'}],
  'WindGustMiles': '7',
  'pressure': '1019',
  'WindGustKmph': '12',
  'weatherDesc': [{'value': 'Fog'}],
  'visibility': '1',
  'weatherCode': '248',
  'tempC': '8',
  'tempF': '47',
  'WindChillF': '44',
  'WindChillC': '7',
  'winddirDegree': '193',
  'humidity': '97',
  'time': '900'},
 {'windspeedKmph': '7',
  'FeelsLikeF': '46',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '8',
  'DewPointC': '8',
  'windspeedMiles': '4',
  'DewPointF': '46',
  'HeatIndexF': '48',
  'cloudcover': '100',
  'HeatIndexC': '9',
  'precipMM': '0.1',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0007_fog.png'}],
  'WindGustMiles': '7',
  'pressure': '1019',
  'WindGustKmph': '12',
  'weatherDesc': [{'value': 'Fog'}],
  'visibility': '2',
  'weatherCode': '248',
  'tempC': '9',
  'tempF': '49',
  'WindChillF': '46',
  'WindChillC': '8',
  'winddirDegree': '198',
  'humidity': '96',
  'time': '1000'},
 {'windspeedKmph': '7',
  'FeelsLikeF': '48',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '9',
  'DewPointC': '9',
  'windspeedMiles': '4',
  'DewPointF': '47',
  'HeatIndexF': '49',
  'cloudcover': '100',
  'HeatIndexC': '10',
  'precipMM': '0.1',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '7',
  'pressure': '1019',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '3',
  'weatherCode': '143',
  'tempC': '10',
  'tempF': '50',
  'WindChillF': '48',
  'WindChillC': '9',
  'winddirDegree': '203',
  'humidity': '94',
  'time': '1100'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '49',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '10',
  'DewPointC': '9',
  'windspeedMiles': '5',
  'DewPointF': '49',
  'HeatIndexF': '51',
  'cloudcover': '100',
  'HeatIndexC': '10',
  'precipMM': '0.1',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '7',
  'pressure': '1018',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '5',
  'weatherCode': '143',
  'tempC': '11',
  'tempF': '52',
  'WindChillF': '49',
  'WindChillC': '10',
  'winddirDegree': '208',
  'humidity': '93',
  'time': '1200'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '50',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '10',
  'DewPointC': '10',
  'windspeedMiles': '5',
  'DewPointF': '49',
  'HeatIndexF': '52',
  'cloudcover': '100',
  'HeatIndexC': '11',
  'precipMM': '0.2',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0006_mist.png'}],
  'WindGustMiles': '7',
  'pressure': '1018',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Mist'}],
  'visibility': '6',
  'weatherCode': '143',
  'tempC': '12',
  'tempF': '53',
  'WindChillF': '50',
  'WindChillC': '10',
  'winddirDegree': '206',
  'humidity': '93',
  'time': '1300'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '51',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '11',
  'DewPointC': '10',
  'windspeedMiles': '5',
  'DewPointF': '50',
  'HeatIndexF': '53',
  'cloudcover': '100',
  'HeatIndexC': '11',
  'precipMM': '0.2',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'}],
  'WindGustMiles': '7',
  'pressure': '1017',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Overcast'}],
  'visibility': '6',
  'weatherCode': '122',
  'tempC': '12',
  'tempF': '54',
  'WindChillF': '51',
  'WindChillC': '11',
  'winddirDegree': '203',
  'humidity': '92',
  'time': '1400'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '52',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '11',
  'DewPointC': '11',
  'windspeedMiles': '5',
  'DewPointF': '51',
  'HeatIndexF': '54',
  'cloudcover': '100',
  'HeatIndexC': '12',
  'precipMM': '0.3',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'}],
  'WindGustMiles': '7',
  'pressure': '1017',
  'WindGustKmph': '12',
  'weatherDesc': [{'value': 'Overcast'}],
  'visibility': '7',
  'weatherCode': '122',
  'tempC': '13',
  'tempF': '55',
  'WindChillF': '52',
  'WindChillC': '11',
  'winddirDegree': '200',
  'humidity': '92',
  'time': '1500'},
 {'windspeedKmph': '7',
  'FeelsLikeF': '53',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '11',
  'DewPointC': '9',
  'windspeedMiles': '4',
  'DewPointF': '49',
  'HeatIndexF': '54',
  'cloudcover': '100',
  'HeatIndexC': '12',
  'precipMM': '0.8',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'}],
  'WindGustMiles': '7',
  'pressure': '1016',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Overcast'}],
  'visibility': '6',
  'weatherCode': '122',
  'tempC': '13',
  'tempF': '55',
  'WindChillF': '53',
  'WindChillC': '11',
  'winddirDegree': '202',
  'humidity': '93',
  'time': '1600'},
 {'windspeedKmph': '6',
  'FeelsLikeF': '53',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '12',
  'DewPointC': '8',
  'windspeedMiles': '4',
  'DewPointF': '47',
  'HeatIndexF': '54',
  'cloudcover': '100',
  'HeatIndexC': '12',
  'precipMM': '1.4',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0017_cloudy_with_light_rain.png'}],
  'WindGustMiles': '7',
  'pressure': '1016',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Light drizzle'}],
  'visibility': '5',
  'weatherCode': '266',
  'tempC': '12',
  'tempF': '54',
  'WindChillF': '53',
  'WindChillC': '12',
  'winddirDegree': '203',
  'humidity': '94',
  'time': '1700'},
 {'windspeedKmph': '5',
  'FeelsLikeF': '53',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '12',
  'DewPointC': '7',
  'windspeedMiles': '3',
  'DewPointF': '44',
  'HeatIndexF': '54',
  'cloudcover': '100',
  'HeatIndexC': '12',
  'precipMM': '1.9',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0017_cloudy_with_light_rain.png'}],
  'WindGustMiles': '7',
  'pressure': '1016',
  'WindGustKmph': '11',
  'weatherDesc': [{'value': 'Light drizzle'}],
  'visibility': '4',
  'weatherCode': '266',
  'tempC': '12',
  'tempF': '53',
  'WindChillF': '53',
  'WindChillC': '12',
  'winddirDegree': '205',
  'humidity': '95',
  'time': '1800'},
 {'windspeedKmph': '5',
  'FeelsLikeF': '52',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '11',
  'DewPointC': '4',
  'windspeedMiles': '3',
  'DewPointF': '39',
  'HeatIndexF': '53',
  'cloudcover': '100',
  'HeatIndexC': '12',
  'precipMM': '2.6',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0017_cloudy_with_light_rain.png'}],
  'WindGustMiles': '9',
  'pressure': '1016',
  'WindGustKmph': '14',
  'weatherDesc': [{'value': 'Light drizzle'}],
  'visibility': '5',
  'weatherCode': '266',
  'tempC': '10',
  'tempF': '51',
  'WindChillF': '52',
  'WindChillC': '11',
  'winddirDegree': '203',
  'humidity': '95',
  'time': '1900'},
 {'windspeedKmph': '4',
  'FeelsLikeF': '50',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '10',
  'DewPointC': '1',
  'windspeedMiles': '3',
  'DewPointF': '33',
  'HeatIndexF': '52',
  'cloudcover': '100',
  'HeatIndexC': '11',
  'precipMM': '3.2',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0018_cloudy_with_heavy_rain.png'}],
  'WindGustMiles': '10',
  'pressure': '1016',
  'WindGustKmph': '17',
  'weatherDesc': [{'value': 'Moderate rain'}],
  'visibility': '6',
  'weatherCode': '302',
  'tempC': '9',
  'tempF': '48',
  'WindChillF': '50',
  'WindChillC': '10',
  'winddirDegree': '202',
  'humidity': '96',
  'time': '2000'},
 {'windspeedKmph': '4',
  'FeelsLikeF': '48',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '9',
  'DewPointC': '-2',
  'windspeedMiles': '3',
  'DewPointF': '28',
  'HeatIndexF': '51',
  'cloudcover': '100',
  'HeatIndexC': '11',
  'precipMM': '3.8',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0034_cloudy_with_heavy_rain_night.png'}],
  'WindGustMiles': '12',
  'pressure': '1017',
  'WindGustKmph': '20',
  'weatherDesc': [{'value': 'Moderate rain'}],
  'visibility': '8',
  'weatherCode': '302',
  'tempC': '8',
  'tempF': '46',
  'WindChillF': '48',
  'WindChillC': '9',
  'winddirDegree': '200',
  'humidity': '96',
  'time': '2100'},
 {'windspeedKmph': '6',
  'FeelsLikeF': '47',
  'winddir16Point': 'SSW',
  'FeelsLikeC': '8',
  'DewPointC': '-1',
  'windspeedMiles': '4',
  'DewPointF': '30',
  'HeatIndexF': '51',
  'cloudcover': '100',
  'HeatIndexC': '10',
  'precipMM': '4.4',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0034_cloudy_with_heavy_rain_night.png'}],
  'WindGustMiles': '13',
  'pressure': '1017',
  'WindGustKmph': '21',
  'weatherDesc': [{'value': 'Moderate rain'}],
  'visibility': '8',
  'weatherCode': '302',
  'tempC': '7',
  'tempF': '45',
  'WindChillF': '47',
  'WindChillC': '8',
  'winddirDegree': '214',
  'humidity': '95',
  'time': '2200'},
 {'windspeedKmph': '8',
  'FeelsLikeF': '46',
  'winddir16Point': 'SW',
  'FeelsLikeC': '8',
  'DewPointC': '0',
  'windspeedMiles': '5',
  'DewPointF': '33',
  'HeatIndexF': '50',
  'cloudcover': '100',
  'HeatIndexC': '10',
  'precipMM': '5.1',
  'weatherIconUrl': [{'value': 'http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0033_cloudy_with_light_rain_night.png'}],
  'WindGustMiles': '14',
  'pressure': '1017',
  'WindGustKmph': '23',
  'weatherDesc': [{'value': 'Light rain'}],
  'visibility': '8',
  'weatherCode': '296',
  'tempC': '7',
  'tempF': '45',
  'WindChillF': '46',
  'WindChillC': '8',
  'winddirDegree': '228',
  'humidity': '94',
  'time': '2300'}]

In [35]:
wind_df = pd.json_normalize(dummy, record_path = 'hourly', meta = 'date')

In [36]:
wind_df

,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,HeatIndexC,...,visibility,weatherCode,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time,date
0,4,46,ENE,8,-2,2,29,48,51,9,...,10,119,3,37,46,8,65,75,0,2013-01-01
1,6,45,ESE,7,1,4,33,47,46,9,...,9,119,5,40,45,7,108,79,100,2013-01-01
2,8,43,SSE,6,3,5,38,46,41,8,...,8,113,6,43,43,6,151,83,200,2013-01-01
3,10,42,SSW,6,6,6,42,46,36,8,...,7,113,8,46,42,6,194,87,300,2013-01-01
4,9,42,SSW,6,6,6,43,45,48,7,...,5,113,7,45,42,6,192,90,400,2013-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
739,20,41,WNW,5,-7,13,19,46,0,8,...,10,113,7,44,41,5,282,51,1900,2013-01-31
740,17,40,W,5,-7,10,20,45,1,7,...,10,113,6,43,40,5,278,55,2000,2013-01-31
741,13,40,W,4,-7,8,20,44,1,7,...,10,113,5,42,40,4,273,59,2100,2013-01-31
742,13,37,W,3,-6,8,21,43,2,6,...,10,113,5,41,37,3,266,62,2200,2013-01-31
743,13,35,WSW,2,-5,8,23,41,2,5,...,10,113,4,40,35,2,258,65,2300,2013-01-31

In [37]:
wind_df.columns

Index(['windspeedKmph', 'FeelsLikeF', 'winddir16Point', 'FeelsLikeC',
       'DewPointC', 'windspeedMiles', 'DewPointF', 'HeatIndexF', 'cloudcover',
       'HeatIndexC', 'precipMM', 'weatherIconUrl', 'WindGustMiles', 'pressure',
       'WindGustKmph', 'weatherDesc', 'visibility', 'weatherCode', 'tempC',
       'tempF', 'WindChillF', 'WindChillC', 'winddirDegree', 'humidity',
       'time', 'date'],
      dtype='object')

In [38]:
PATH = "Weather"
EXT = "*.json"
all_json_files = [file
                 for path, subdir, files in os.walk(PATH)
                 for file in glob(os.path.join(path, EXT))]

In [54]:
for i in all_json_files:
    parts = i.split(os.path.sep)
    print(parts[-2])

ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO

In [58]:
for i in all_json_files:
    parts = i.split(os.path.sep)
    print(parts[1])

ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
ATL
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
CLT
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DEN
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
DFW
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
EWR
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
IAH
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
JFK
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAS
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
LAX
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MCO
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
MIA
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
ORD
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
PHX
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SEA
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO
SFO

In [59]:
all_wind = []
for i in all_json_files:
    new = pd.read_json(i)
    parts = i.split(os.path.sep)
    dummy = new["data"]["weather"]
    wind_df = pd.json_normalize(dummy, record_path = 'hourly', meta = 'date')
    wind_df['airport_code'] = parts[-2]
    all_wind.append(wind_df)

In [60]:
result = pd.concat(all_wind)

In [64]:
result.columns

Index(['windspeedKmph', 'FeelsLikeF', 'winddir16Point', 'FeelsLikeC',
       'DewPointC', 'windspeedMiles', 'DewPointF', 'HeatIndexF', 'cloudcover',
       'HeatIndexC', 'precipMM', 'weatherIconUrl', 'WindGustMiles', 'pressure',
       'WindGustKmph', 'weatherDesc', 'visibility', 'weatherCode', 'tempC',
       'tempF', 'WindChillF', 'WindChillC', 'winddirDegree', 'humidity',
       'time', 'date', 'airport_code'],
      dtype='object')

In [65]:
wind_df.columns

Index(['windspeedKmph', 'FeelsLikeF', 'winddir16Point', 'FeelsLikeC',
       'DewPointC', 'windspeedMiles', 'DewPointF', 'HeatIndexF', 'cloudcover',
       'HeatIndexC', 'precipMM', 'weatherIconUrl', 'WindGustMiles', 'pressure',
       'WindGustKmph', 'weatherDesc', 'visibility', 'weatherCode', 'tempC',
       'tempF', 'WindChillF', 'WindChillC', 'winddirDegree', 'humidity',
       'time', 'date', 'airport_code'],
      dtype='object')

In [66]:
air_df.columns

Index(['FlightDate', 'Quarter', 'Year', 'Month', 'Origin', 'Dest',
       'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 'DepDelayMinutes',
       'OriginAirportID', 'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDel15',
       'ArrDelayMinutes'],
      dtype='object')

In [67]:
result.to_csv('weather.csv')

In [68]:
air_df.to_csv('flights.csv')

In [4]:
flights_df=pd.read_csv("flights.csv",index_col=[0])

In [5]:
flights_df

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,DepDelayMinutes,OriginAirportID,DestAirportID,ArrTime,CRSArrTime,ArrDel15,ArrDelayMinutes
0,2016-01-01,1,2016,1,DTW,DFW,1,1539.0,1.0,1513,26.0,11433,11298,1756.0,1724,1.0,32.0
1,2016-01-02,1,2016,1,DTW,DFW,2,1509.0,0.0,1513,0.0,11433,11298,1651.0,1724,0.0,0.0
2,2016-01-03,1,2016,1,DTW,DFW,3,1515.0,0.0,1513,2.0,11433,11298,1703.0,1724,0.0,0.0
3,2016-01-04,1,2016,1,DTW,DFW,4,1509.0,0.0,1513,0.0,11433,11298,1641.0,1724,0.0,0.0
4,2016-01-05,1,2016,1,DTW,DFW,5,1519.0,0.0,1523,0.0,11433,11298,1708.0,1730,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4977020,2017-09-25,3,2017,9,BOS,DEN,25,1952.0,0.0,1945,7.0,10721,11292,2215.0,2219,0.0,0.0
4977021,2017-09-25,3,2017,9,BOS,ATL,25,2130.0,1.0,2102,28.0,10721,10397,11.0,2352,1.0,19.0
4977022,2017-09-25,3,2017,9,BUF,JFK,25,2103.0,0.0,2118,0.0,10792,12478,2213.0,2246,0.0,0.0
4977023,2017-09-25,3,2017,9,LGB,SEA,25,1505.0,0.0,1500,5.0,12954,14747,1750.0,1740,0.0,10.0
4977024,2017-09-25,3,2017,9,BOS,ORD,25,1734.0,0.0,1720,14.0,10721,13930,1924.0,1913,0.0,11.0

In [6]:
weather_df=pd.read_csv("weather.csv",index_col=[0])

In [7]:
weather_df.head()

,windspeedKmph,FeelsLikeF,winddir16Point,FeelsLikeC,DewPointC,windspeedMiles,DewPointF,HeatIndexF,cloudcover,HeatIndexC,...,weatherCode,tempC,tempF,WindChillF,WindChillC,winddirDegree,humidity,time,date,airport_code
0,4,46,ENE,8,-2,2,29,48,51,9,...,119,3,37,46,8,65,75,0,2013-01-01,ATL
1,6,45,ESE,7,1,4,33,47,46,9,...,119,5,40,45,7,108,79,100,2013-01-01,ATL
2,8,43,SSE,6,3,5,38,46,41,8,...,113,6,43,43,6,151,83,200,2013-01-01,ATL
3,10,42,SSW,6,6,6,42,46,36,8,...,113,8,46,42,6,194,87,300,2013-01-01,ATL
4,9,42,SSW,6,6,6,43,45,48,7,...,113,7,45,42,6,192,90,400,2013-01-01,ATL

In [8]:
weather_df.columns

Index(['windspeedKmph', 'FeelsLikeF', 'winddir16Point', 'FeelsLikeC',
       'DewPointC', 'windspeedMiles', 'DewPointF', 'HeatIndexF', 'cloudcover',
       'HeatIndexC', 'precipMM', 'weatherIconUrl', 'WindGustMiles', 'pressure',
       'WindGustKmph', 'weatherDesc', 'visibility', 'weatherCode', 'tempC',
       'tempF', 'WindChillF', 'WindChillC', 'winddirDegree', 'humidity',
       'time', 'date', 'airport_code'],
      dtype='object')

In [30]:
weather_df.shape

(657360, 27)

In [37]:
columns = ["windspeedKmph", "winddirDegree", "weatherCode", "precipMM", "visibility", "pressure", "cloudcover", "DewPointF", "WindGustKmph", "tempF", "WindChillF", "humidity", "date", "time", "airport_code"]

In [40]:
weather_df1=weather_df[columns]

In [41]:
columns = ["windspeedKmph", "winddirDegree", "weatherCode", "precipMM", "visibility", "pressure", "cloudcover", "DewPointF", "WindGustKmph", "tempF", "WindChillF", "humidity", "date", "time", "airport_code"]

In [42]:
weather_df1

,windspeedKmph,winddirDegree,weatherCode,precipMM,visibility,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport_code
0,4,65,119,0.0,10,1022,51,29,16,37,46,75,2013-01-01,0,ATL
1,6,108,119,0.0,9,1022,46,33,17,40,45,79,2013-01-01,100,ATL
2,8,151,113,0.0,8,1021,41,38,19,43,43,83,2013-01-01,200,ATL
3,10,194,113,0.0,7,1020,36,42,21,46,42,87,2013-01-01,300,ATL
4,9,192,113,0.0,5,1020,48,43,19,45,42,90,2013-01-01,400,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,26,296,113,0.0,10,1014,0,57,27,67,67,70,2017-09-30,1900,SFO
716,26,298,113,0.0,10,1014,0,58,27,67,67,71,2017-09-30,2000,SFO
717,26,300,113,0.0,10,1014,0,58,27,67,67,73,2017-09-30,2100,SFO
718,23,302,113,0.0,10,1014,0,58,25,66,66,74,2017-09-30,2200,SFO
719,20,303,113,0.0,10,1014,0,58,22,66,66,75,2017-09-30,2300,SFO

In [43]:
weather_df1.isnull().sum()

windspeedKmph    0
winddirDegree    0
weatherCode      0
precipMM         0
visibility       0
pressure         0
cloudcover       0
DewPointF        0
WindGustKmph     0
tempF            0
WindChillF       0
humidity         0
date             0
time             0
airport_code     0
dtype: int64

In [12]:
flights_df['CRSDepTime'] = pd.to_numeric(flights_df['CRSDepTime'], errors='coerce')
flights_df['rounded_time'] = flights_df['CRSDepTime'].apply(lambda time: round(time / 100) * 100)

In [13]:
flights_df['rounded_time']

0          1500
1          1500
2          1500
3          1500
4          1500
           ...
4977020    1900
4977021    2100
4977022    2100
4977023    1500
4977024    1700
Name: rounded_time, Length: 4977016, dtype: int64

In [14]:
flights_df['CRSDepTime']

0          1513
1          1513
2          1513
3          1513
4          1523
           ...
4977020    1945
4977021    2102
4977022    2118
4977023    1500
4977024    1720
Name: CRSDepTime, Length: 4977016, dtype: int64

In [44]:
final_df = pd.merge(flights_df, weather_df1, how = "inner", left_on = ["rounded_time", "FlightDate", "Origin"], right_on=["time", "date", "airport_code"])

In [45]:
final_df.head()

,FlightDate,Quarter,Year,Month,Origin,Dest,DayofMonth,DepTime,DepDel15,CRSDepTime,...,pressure,cloudcover,DewPointF,WindGustKmph,tempF,WindChillF,humidity,date,time,airport_code
0,2016-01-01,1,2016,1,SEA,JFK,1,741.0,0.0,745,...,1030,0,23,8,34,29,66,2016-01-01,700,SEA
1,2016-01-02,1,2016,1,SEA,JFK,2,737.0,0.0,745,...,1024,0,24,8,36,32,64,2016-01-02,700,SEA
2,2016-01-03,1,2016,1,SEA,JFK,3,743.0,0.0,745,...,1018,0,20,7,32,28,62,2016-01-03,700,SEA
3,2016-01-04,1,2016,1,SEA,JFK,4,737.0,0.0,745,...,1010,97,32,8,34,31,95,2016-01-04,700,SEA
4,2016-01-05,1,2016,1,SEA,JFK,5,708.0,0.0,710,...,1001,100,35,10,38,35,91,2016-01-05,700,SEA

In [46]:
final_df.shape

(1840274, 33)

In [47]:
final_df.columns

Index(['FlightDate', 'Quarter', 'Year', 'Month', 'Origin', 'Dest',
       'DayofMonth', 'DepTime', 'DepDel15', 'CRSDepTime', 'DepDelayMinutes',
       'OriginAirportID', 'DestAirportID', 'ArrTime', 'CRSArrTime', 'ArrDel15',
       'ArrDelayMinutes', 'rounded_time', 'windspeedKmph', 'winddirDegree',
       'weatherCode', 'precipMM', 'visibility', 'pressure', 'cloudcover',
       'DewPointF', 'WindGustKmph', 'tempF', 'WindChillF', 'humidity', 'date',
       'time', 'airport_code'],
      dtype='object')

In [48]:
final_df.to_csv('Cobined_Flight_Weather.csv')

In [49]:
merge_df=pd.concat([flights_df,weather_df1],ignore_index=True)

merge-df.shape

In [50]:
merge_df.shape

(5634376, 33)

In [53]:
final_df.isnull().sum()

FlightDate         0
Quarter            0
Year               0
Month              0
Origin             0
Dest               0
DayofMonth         0
DepTime            0
DepDel15           0
CRSDepTime         0
DepDelayMinutes    0
OriginAirportID    0
DestAirportID      0
ArrTime            0
CRSArrTime         0
ArrDel15           0
ArrDelayMinutes    0
rounded_time       0
windspeedKmph      0
winddirDegree      0
weatherCode        0
precipMM           0
visibility         0
pressure           0
cloudcover         0
DewPointF          0
WindGustKmph       0
tempF              0
WindChillF         0
humidity           0
date               0
time               0
airport_code       0
dtype: int64

In [54]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1840274 entries, 0 to 1840273
Data columns (total 33 columns):
 #   Column           Dtype
---  ------           -----
 0   FlightDate       object
 1   Quarter          int64
 2   Year             int64
 3   Month            int64
 4   Origin           object
 5   Dest             object
 6   DayofMonth       int64
 7   DepTime          float64
 8   DepDel15         float64
 9   CRSDepTime       int64
 10  DepDelayMinutes  float64
 11  OriginAirportID  int64
 12  DestAirportID    int64
 13  ArrTime          float64
 14  CRSArrTime       int64
 15  ArrDel15         float64
 16  ArrDelayMinutes  float64
 17  rounded_time     int64
 18  windspeedKmph    int64
 19  winddirDegree    int64
 20  weatherCode      int64
 21  precipMM         float64
 22  visibility       int64
 23  pressure         int64
 24  cloudcover       int64
 25  DewPointF        int64
 26  WindGustKmph     int64
 27  tempF            int64
 28  WindChillF       int64
 29  humidity         int64
 30  date             object
 31  time             int64
 32  airport_code     object
dtypes: float64(7), int64(21), object(5)
memory usage: 463.3+ MB

In [56]:
final_df.duplicated().sum()

0